<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="p-name">{{ site.title | escape }}</p>
      </div>

      <div class="footer-col">
        <ul class="social-links">
          <li><a href="https://linkedin.com/in/anton-hlushkov" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
          <li><a href="https://x.com/antonhlushkov" target="_blank" rel="noopener noreferrer">X</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
