---
---

@import "{{ site.theme }}";

body{
  font-family: monospace !important;
  font-size:10px;
}

.markdown-body{
  font-family: monospace !important;
  font-size:14px;
}

a{
color:brown;
}