---
---

@import "{{ site.theme }}";

body{
  font-family: monospace !important;
  font-size:10px;
}

.markdown-body{
  font-family: monospace !important;
  font-size:12px;
}

a{
color:brown;
}

.container-lg{
  max-width:720px;
}

footer {
      text-align: center;
      padding: 20px;
      background-color: #333;
      color: white;
      margin-top: 40px;
      border-radius: 4px;
    }
    
footer p {
      margin: 0;
      font-size: 14px;
    }